@import './base/layout';

@import 'btn';

.layout {
   padding: 48px 0 64px;
}

.layout__inner {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   gap: 32px;
}

.layout__main {
   max-width: 976px;
}

.layout__main > *:not(:last-child) {
   margin-bottom: 48px;
}

.layout__aside {
   flex-grow: 1;
}
